table {
  margin: auto;
}

.head {
  font-size: 40px;
  margin: auto;
  text-align: center;
  color: bisque;
  padding: 40px;
}

th {
  height: 40px;
  color: #dfe073;
  text-align: center;
  font-size: 40px;
  margin: auto;
}

img {
  width: 100px;
  height: 100px;
}

button:hover {
  background-color: rgb(241, 229, 48);
  cursor: pointer;  
}
button.selected {
  background: rgb(236, 138, 9);
}

body {
  background: #111;
}

.minefield {
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.field-cell {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  background: linear-gradient(to top, rgb(143, 160, 81), rgb(143, 160, 81), rgb(143, 160, 81), rgb(143, 160, 81), rgb(143, 160, 81), rgb(143, 160, 81), rgb(143, 160, 81));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.cell:hover {
  background: linear-gradient(to top, #074e25, rgb(143, 202, 146), rgb(183, 235, 149));
}

.cell.selected {
  background: linear-gradient(to top, #074e25, rgb(54, 185, 61), yellow);
  opacity: 30%;
}